<!-- // Facebook -->
<div>
<iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fonlyrealmvp&width=100&height=21&layout=button_count&size=small&show_faces=true&appId=1176148169078022" width="100" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
<!-- Tweet to Twitter -->
<div>
<!-- Share on Twitter -->
 <!-- //data-hashtags="GreatPost,GoodRead"-->
<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="small"
  data-text="Thanks for the post, Manoj!"
  data-url="https://dev.twitter.com/web/tweet-button"
  data-via="onlyrealmvp"
  data-related="twitterapi,twitter">
Share on Twitter
</a>
<!-- Follow on Twitter -->
<a href="https://twitter.com/onlyrealmvp" class="twitter-follow-button" data-show-count="false">Follow @onlyrealmvp</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- // Codementor -->
<div>
<a href="https://www.codementor.io/manojpandey?utm_source=github&utm_medium=button&utm_term=manojpandey&utm_campaign=github"><img src="https://cdn.codementor.io/badges/contact_me_github.svg" alt="Contact me on Codementor" style="max-width:100%" /></a>
</div>
